.parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

img{
    box-shadow: 0 0 30px 1px black;
    height: 300px;
    width: 300px;
}
img:hover{
    /* rotate , skew , scale, translate */
    /* transform: rotate(180deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */

    /* transform: skewX(180deg); */
     /* transform:skewY(180deg); */
     /* transform: skew(200deg , 500deg); */
   
      /* transform: translateX(300px); */
      /* transform: translateY(300px); */
       /* transform: translate(-300px,300px); */


       /* transform: scaleX(2); */
         /* transform: scaleY(-2); */
         /* transform: scale(3,2); */

         /* transform: scale(1.1); */
         /* transform: scale(-1); */

         transform: scale(-1) rotate(180deg)  skew(500deg , 500deg)  scale(1) rotate(360deg) ;



    transition:1s;
}